* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}
body {
  background-color: #0d1b2a;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

input {
  border-radius: 5px;
  border-width: 0;
  margin-bottom: 16px;
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  background-color: whitesmoke;
}

input:focus {
  background-color: white;
}

a {
  text-decoration: none;
  color: unset;
}
